

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.box1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 2px solid black;
    padding: 50px;
    margin: 200px;
}

body > div.container-1 > div > h1:nth-child(3){
    padding: 0;
    margin-top: 1px;
    font-size: 3rem;
    
}


.navigation-list{
    background-color: rgb(10, 172, 221,0.2);
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: end;
    font-size: 1.5rem;
    height: 2em;
    position: sticky;   
    top: 0;
    z-index: 1000;
}

h1{
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0%{opacity:0;}
   100%{opacity:1;}
}

a{
    text-decoration: none;
    color: black;
    margin: 20px;
}

.container-1{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    background-image: url(./laptop_coffee.jpg);
    background-size: cover;   
    background-position: center;
    margin-top: 0;
    position: relative;
    color: black;
}




.container-2{
    background-color: teal;
    display: flex;
    grid-template-columns: 150px / auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px  ;
    
}

.d1{
    grid-row: span 1;
    grid-column: span 4;
    background-color: red;
    border-radius: 10px 10px 0 0;
}

.d2{
    grid-row: span 2;
    grid-column: span 2;
    background-color: green;
    border-radius: 0px 0px 0px 10px;
}
.d3{
    background-color: blue;
    grid-row: span 2;
    grid-column: span 2;
    border-radius: 0px 0px 10px 0px;

}